<?xml version="1.0"?>
<robot name="rb_theround_v1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Source: https://en.wikipedia.org/wiki/List_of_moments_of_inertia-->

  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="M_PI_2" value="1.5707963267948966" />
  <xacro:property name="M_PI_4" value="0.7853981633974483" />

  <xacro:macro name="default_inertial" params="">
    <inertia ixx="1e-3" ixy="0.0" ixz="0.0"
             iyy="1e-3" iyz="0.0"
             izz="1e-3" />
  </xacro:macro>
  <xacro:macro name="solid_cuboid_inertia" params="mass height depth width">
    <inertia  ixx="${(mass*(height*height+depth*depth))/12}" ixy = "0" ixz = "0"
              iyy="${(mass*(width*width+depth*depth))/12}"   iyz = "0"
              izz="${(mass*(width*width+height*height))/12}" />
  </xacro:macro>
  <xacro:macro name="solid_sphere_inertial" params="mass radius">
    <inertia  ixx="${(2*radius*radius*mass)/3}" ixy = "0" ixz = "0"
              iyy="${(2*radius*radius*mass)/3}" iyz = "0"
              izz="${(2*radius*radius*mass)/3}" />
  </xacro:macro>
  <xacro:macro name="cylinder_inertial" params="mass radius height">
    <inertia  ixx="${mass*(3*radius*radius+height*height)/12}" ixy = "0" ixz = "0"
              iyy="${mass*(3*radius*radius+height*height)/12}" iyz = "0"
              izz="${mass*radius*radius/2}" />
  </xacro:macro>
  <xacro:macro name="ellipsoid_semi_axes_inertia" params="axis_a axis_b axis_c mass">
    <inertia  ixx="${(mass*(axis_b*axis_b+axis_c*axis_c))/5}" ixy = "0" ixz = "0"
              iyy="${(mass*(axis_a*axis_a+axis_c*axis_c))/5}" iyz = "0"
              izz="${(mass*(axis_a*axis_a+axis_b*axis_b))/5}" />
  </xacro:macro>
</robot>
