<?xml version="1.0"?>
<launch>
  <arg name="id_robot" default="robot"/>

  <!-- Dockers arguments -->
  <arg name="has_docker" default="$(optenv ROBOT_HAS_DOCKER false)"/>
  <arg name="run_camera_docker" default="$(optenv ROBOT_DOCKER_RUN_CAMERA true)"/>
  <arg name="run_laser_docker" default="$(optenv ROBOT_DOCKER_RUN_LASER false)"/>
  <arg name="run_laser_filters" default="$(optenv ROBOT_RUN_LASER_FILTERS true)"/>
  <arg name="run_safety_controller" default="$(optenv ROBOT_RUN_SAFETY_CONTROLLER false)"/>

  <!-- Move arguments-->
  <group ns="$(arg id_robot)">

  <include if="$(arg has_docker)" file="$(find rb_theron_navigation_private)/launch/rb_theron_docking.launch">
    <arg name="id_robot" value="$(arg id_robot)"/>
    <arg name="docking_qr" value="$(arg run_camera_docker)"/>
    <arg name="docking_laser_reflectors" value="$(arg run_laser_docker)"/>
  </include>

  <include file="$(find rb_theron_navigation_private)/launch/move.launch">
    <arg name="id_robot" value="$(arg id_robot)"/>
    <arg name="has_safety_controller" value="$(arg run_safety_controller)"/>
  </include>

  <include file="$(find rb_theron_navigation_private)/launch/safety_controller.launch">
    <arg name="id_robot" value="$(arg id_robot)"/>
    <arg name="has_safety_controller" value="$(arg run_safety_controller)"/>
  </include>

  </group>

</launch>
