<?xml version="1.0"?>

<launch>
	<group ns="robot">
		<include file="$(find robot_simple_command_manager)/launch/robot_simple_command_manager.launch">
			<arg name="handlers_file_path" value="$(find rb_theron_command_manager)/config/handlers.yaml"/>
		</include>
	</group>

	<include file="$(find robot_simple_command_sequencer)/launch/robot_simple_command_sequencer.launch">
		<arg name="simple_command_sequencer_file_path" value="$(find rb_theron_command_manager)/config/simple_command_sequencer.yaml"/>
		<arg name="simple_command_sequences_file_path" value="$(find rb_theron_command_manager)/config/simple_command_sequences.yaml"/>

	</include>

	<include file="$(find robot_complex_command_sequencer)/launch/robot_complex_command_sequencer.launch">
		<arg name="complex_command_sequencer_file_path" value="$(find rb_theron_command_manager)/config/complex_command_sequencer.yaml"/>
		<arg name="complex_command_sequences_file_path" value="$(find rb_theron_command_manager)/config/complex_command_sequences.yaml"/>
	</include>
	<!--include file="$(find robot_command_scheduler)/launch/robot_command_scheduler.launch"></include>
	<include file="$(find robot_command_logger)/launch/robot_command_logger_jmab.launch"></include-->

</launch>
