<?xml version="1.0"?>
<robot name="rb_theron"
	xmlns:xacro="http://www.ros.org/wiki/xacro">


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import differential base elements -->
	<xacro:include filename="$(find rb_theron_description)/urdf/bases/rb_theron_base_v4.urdf.xacro" />

	<!-- Import wheels -->
	<xacro:include filename="$(find rb_theron_description)/urdf/wheels/rubber_wheel_150.urdf.xacro" />

	<!-- Import casters -->
	<xacro:include filename="$(find rb_theron_description)/urdf/wheels/castor.urdf.xacro" />

	<!-- Import Gazebo Stuff -->
	<xacro:include filename="$(find rb_theron_description)/urdf/common.gazebo.xacro" />


	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->
	<xacro:property name="PI" value="3.1415926535897931"/>

	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0" />
	<xacro:property name="wheel_offset_y" value="0.2516" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<!-- *************** -->
	<!-- Robots Elements -->
	<!-- *************** -->
  <xacro:macro name="rb_theron_base" params="prefix hq use_sim">
    <!-- rb_theron base -->
  	<xacro:rb_theron_base_v4 prefix="${prefix}" publish_bf="true" hq="${hq}" />
    <xacro:gazebo_colors prefix="${prefix}"/>

  	<!-- WHEELS -->
  	<xacro:rubber_wheel prefix="${prefix}right" parent="${prefix}base_link" hq="${hq}">
  		<origin xyz="${wheel_offset_x} ${-wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  	</xacro:rubber_wheel>
  	<xacro:rubber_wheel prefix="${prefix}left" parent="${prefix}base_link" hq="${hq}">
  		<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  	</xacro:rubber_wheel>
<!-- Castor wheels-->
	<xacro:caster prefix="${prefix}front_left" parent="${prefix}base_link" hq="${hq}" use_sim="$(arg use_sim)">
		<origin xyz="0.235 0.1825 0.0448" rpy="0 0 0"/>
	</xacro:caster>
	<xacro:caster prefix="${prefix}front_right" parent="${prefix}base_link" hq="${hq}" use_sim="$(arg use_sim)">
		<origin xyz="0.235 -0.1825 0.0448" rpy="0 0 0"/>
	</xacro:caster>
	<xacro:caster prefix="${prefix}rear_left" parent="${prefix}base_link" hq="${hq}" use_sim="$(arg use_sim)">
		<origin xyz="-0.235 0.1825 0.0448" rpy="0 0 0"/>
	</xacro:caster>
	<xacro:caster prefix="${prefix}rear_right" parent="${prefix}base_link" hq="${hq}" use_sim="$(arg use_sim)">
		<origin xyz="-0.235 -0.1825 0.0448" rpy="0 0 0"/>
	</xacro:caster>
  </xacro:macro>


</robot>
