<?xml version="1.0"?>
<robot name="rb_theron" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ***************** -->
  <!-- Imported elements -->
  <!-- ***************** -->

  <!-- Import RB Theron elements (base + wheels) -->
  <xacro:include filename="$(find rb_theron_description)/urdf/bases/theron_base.urdf.xacro" />
  <xacro:include filename="$(find rb_theron_description)/urdf/wheels/rubber_wheel_150.urdf.xacro" />
  <xacro:include filename="$(find rb_theron_description)/urdf/wheels/castor.urdf.xacro" />
  <xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />


  <!-- ***************** -->
  <!-- Global parameters -->
  <!-- ***************** -->
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Wheel parameters -->
  <xacro:property name="wheel_offset_x" value="0" />
  <xacro:property name="wheel_offset_y" value="0.2516" />
  <xacro:property name="wheel_offset_z" value="0.0" />

  <!-- Flag to select the high or low quality model -->
  <xacro:property name="hq" value="true" />

  <xacro:arg name="robot_id" default="robot"/>
	<xacro:arg name="gpu" default="true"/>


  <!-- *************** -->
  <!-- Robots Elements -->
  <!-- *************** -->

  <!-- RB Theron -->
  <xacro:theron_base publish_bf="true" hq="${hq}" />

  <!-- WHEELS -->
  <xacro:rubber_wheel prefix="right_" parent="base_link" hq="${hq}">
    <origin xyz="${wheel_offset_x} ${-wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>
  <xacro:rubber_wheel prefix="left_" parent="base_link" hq="${hq}">
    <origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
  </xacro:rubber_wheel>

  <!-- CASTORS WHEELS -->
  <xacro:caster prefix="front_left_" parent="base_link" hq="${hq}">
    <origin xyz="0.235 0.1825 0.046" rpy="0 0 0"/>
  </xacro:caster>
  <xacro:caster prefix="front_right_" parent="base_link" hq="${hq}">
    <origin xyz="0.235 -0.1825 0.046" rpy="0 0 0"/>
  </xacro:caster>
  <xacro:caster prefix="rear_left_" parent="base_link" hq="${hq}">
    <origin xyz="-0.235 0.1825 0.046" rpy="0 0 0"/>
  </xacro:caster>
  <xacro:caster prefix="rear_right_" parent="base_link" hq="${hq}">
    <origin xyz="-0.235 -0.1825 0.046" rpy="0 0 0"/>
  </xacro:caster>

  <!-- SENSORS -->
  <xacro:sensor_orbbec_astra ns="$(arg robot_ns)" prefix="front_rgbd_camera" parent="base_link">
    <origin xyz="0.3305 0.0 0.1748" rpy="0 0 0"/>
  </xacro:sensor_orbbec_astra>

  <xacro:sensor_imu_hector ns="$(arg robot_ns)" prefix="imu" parent="base_link">
    <origin xyz="-0.1975 0.0 0.1598" rpy="0 0 0"/>
  </xacro:sensor_imu_hector>

  <xacro:sensor_sick_tim571 ns="$(arg robot_ns)" prefix="front_laser" parent="base_link" gpu="$(arg gpu)">
    <origin xyz="0.2675 -0.215 0.1613" rpy="0 -3.1416 2.3562"/>
  </xacro:sensor_sick_tim571>
  <xacro:sensor_sick_tim571 ns="$(arg robot_ns)" prefix="rear_laser" parent="base_link" gpu="$(arg gpu)">
    <origin xyz="-0.2675 0.215 0.1613" rpy="0 -3.1416 -0.7854"/>
  </xacro:sensor_sick_tim571>
  <xacro:sensor_velodyne_vlp16 ns="$(arg robot_ns)" prefix="top_laser_" parent="base_link" gpu="$(arg gpu)">
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
  </xacro:sensor_velodyne_vlp16>

  <!-- Gazebo ros control plugins -->
  <xacro:arg name="config_controllers" default=""/>
  <xacro:include filename="$(find rb_theron_description)/urdf/ros2_control.urdf.xacro"/>
  <xacro:ros2_control/>
</robot>
