<?xml version="1.0"?>
<launch>

    <arg name="id_robot" default="$(optenv ROBOT_ID robot)"/>
    <arg name="prefix" value="$(arg id_robot)_" if="$(eval id_robot != '')" />
    <arg name="prefix" value="" unless="$(eval id_robot != '')" />

    <!-- overall namespace -->
    <!--arg name="localization_ns" default="localization_3d" /-->
    <arg name="localization_ns" default="" />

    <!-- which nodes to run -->
    <arg name="map_server" default="true" />
    <arg name="registration" default="false" />
    <arg name="odometry" default="false" />
    <arg name="localization" default="true" />
    <arg name="visualization" default="false" />
    
    <!-- to set the config file using a package path and a filename -->
    <arg name="map_path" default="$(find localization_3d)/map" />
    <arg name="map_file" default="" />
    
    <!-- or to set directly a file path -->
    <arg name="map" default="$(arg map_path)/$(arg map_file)" />

    <!-- which frames to use -->
    <arg name="base_frame" default="$(arg prefix)base_link" />
    <arg name="odom_frame" default="$(arg prefix)odom" />
    <arg name="map_frame" default="$(arg prefix)map" />

    <!-- aloam nodes have been modified to look for parameters in the tree
        so defining them here is sufficient to pass the values.
        However in this demo, they are set in both sides just to show -->
    <param name="base_frame" value="$(arg base_frame)" />
    <param name="odom_frame" value="$(arg odom_frame)" />
    <param name="map_frame" value="$(arg map_frame)" />

    <!-- input topics -->
    <arg name="points_topic" default="points" />
    <arg name="map_topic" default="mapcloud" />
    <arg name="odom_topic" default="lidar_odom" />
    <arg name="imu_topic" default="imu/data" />

    <!-- other parameters -->
    <arg name="use_imu" default="" />
    <arg name="use_odom" default="" />

    <group ns="$(arg localization_ns)">
        <include if="$(arg map_server)" file="$(find localization_3d)/launch/map_server.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg prefix)" />
            <arg name="map" default="$(arg map)" />
            <arg name="map_topic" default="$(arg map_topic)" />
            <arg name="map_frame" value="$(arg map_frame)" />
        </include>
        
        <include if="$(arg registration)" file="$(find localization_3d)/launch/aloam/rslidar_16_aloam_registration.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg prefix)" />
            <arg name="base_frame" value="$(arg base_frame)" />
            <arg name="points_topic" default="$(arg points_topic)" />
        </include>

        <include if="$(arg odometry)" file="$(find localization_3d)/launch/aloam/rslidar_16_aloam_odometry.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg prefix)" />
            <arg name="base_frame" value="$(arg base_frame)" />
            <arg name="odom_frame" value="$(arg odom_frame)" />
        </include>

        <include if="$(arg localization)" file="$(find localization_3d)/launch/mcl_3dl/rslidar_16_mcl_3dl.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg prefix)" />
            <arg name="base_frame" value="$(arg base_frame)" />
            <arg name="odom_frame" value="$(arg odom_frame)" />
            <arg name="map_frame" value="$(arg map_frame)" />
            <arg name="points_topic" value="$(arg points_topic)" />
            <arg name="odom_topic" value="$(arg odom_topic)" />
            <arg name="imu_topic" value="$(arg imu_topic)" />
            <arg name="use_imu" default="$(arg use_imu)" />
            <arg name="use_odom" default="$(arg use_odom)" />
        </include>

        <include if="$(arg visualization)" file="$(find localization_3d)/launch/visualization.launch">
            <arg name="id_robot" value="$(arg id_robot)"/>
            <arg name="prefix" value="$(arg prefix)" />
            <arg name="config_file" default="rslidar_16_mcl_3dl.rviz" />
        </include>
    </group>

</launch>
