<?xml version="1.0"?>
<launch>

	<arg name="sim" default="false"/>
	<arg name="cmd_vel" default="robotnik_base_control/cmd_vel"/>
	<arg name="id_robot" default="robot"/>
	<arg name="prefix" default="robot_"/>
	<arg name="wheel_diameter" default="0.1524"/>
	<arg name="use_ros_planar_move_plugin" default="false"/>

	<!-- Robot - Load joint controller configurations from YAML file to parameter server -->
	<group unless="$(arg sim)">
		<!-- Load joint controller configurations from YAML file to parameter server -->
		<rosparam file="$(find rb_theron_control)/config/rb_theron_control.yaml" command="load"/>
		<param name="robotnik_base_control/joint/left_wheel_joint/name" value="$(arg prefix)left_wheel_joint"/>
		<param name="robotnik_base_control/joint/right_wheel_joint/name" value="$(arg prefix)right_wheel_joint"/>
		<param name="robotnik_base_control/robot_base_frame" value="$(arg prefix)base_footprint"/>
		<param name="robotnik_base_control/odom_frame" value="$(arg prefix)odom"/>
		<param name="robotnik_base_control/wheel_diameter" value="$(arg wheel_diameter)"/>

		<!-- load the controllers -->
		<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
  						  robotnik_base_control
  						  joint_read_state_controller
  						  ">
		</node>
	</group>

	<!-- Simulation - Load joint controller configurations from YAML file to parameter server -->
	<group if="$(arg sim)">

		<!-- Load joint controller configurations from YAML file to parameter server -->
		<rosparam file="$(find rb_theron_control)/config/simulation/rb_theron_diffdrive_control.yaml" command="load"/>
		<param name="robotnik_base_control/left_wheel" value="$(arg prefix)left_wheel_joint"/>
		<param name="robotnik_base_control/right_wheel" value="$(arg prefix)right_wheel_joint"/>
		<param name="robotnik_base_control/base_frame_id" value="$(arg prefix)base_footprint"/>
		<param name="robotnik_base_control/odom_frame_id" value="$(arg prefix)odom"/>

		<param name="gazebo_ros_control/pid_gains/robot_1_right_wheel_joint/close_loop" value="position"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_right_wheel_joint/p" value="1000.0"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_right_wheel_joint/i" value="0.05"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_right_wheel_joint/d" value="0.01"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_left_wheel_joint/close_loop" value="position"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_left_wheel_joint/p" value="1000.0"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_left_wheel_joint/i" value="0.05"/>
		<param name="gazebo_ros_control/pid_gains/robot_1_left_wheel_joint/d" value="0.01"/>

		<!-- load the controllers -->
		<node if="$(arg use_ros_planar_move_plugin)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
  						  joint_read_state_controller
  						  ">
		</node>

		<node unless="$(arg use_ros_planar_move_plugin)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
  						  robotnik_base_control
  						  joint_read_state_controller
  						  ">
		</node>

	</group>

	<node pkg="twist_mux" type="twist_mux" name="twist_mux">
		<rosparam command="load" file="$(find rb_theron_control)/config/twist_mux.yaml" />
		<remap from="cart_docker/cmd_vel" to="docker/cmd_vel"/>
		<remap from="cmd_vel_out" to="robotnik_base_control/cmd_vel" />
	</node>

</launch>