<?xml version="1.0"?>
<launch>
  <arg name="version" default="rbogie.urdf.xacro" />
  <arg name="prefix" default="robot_"/>
  <arg name="rviz_config" default="$(find rb_theron_description)/rviz/test.rviz"/> 

  <!-- name="robot/robot_description" -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rb_theron_description)/robots/versions/$(arg version)' prefix:=$(arg prefix)" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>

</launch>

